* {
    text-align: center;
    font-family: 나눔고딕,NanumGothic,돋움,Dotum;
}

html {
    background-color: goldenrod;
}

body {
    width: 640px;
    margin: auto;
}

h1 {
    font-size: 48px;
}

#introduce {
    font-size: 30px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
}

#cat {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
